<h2>Instructions</h2>

<p>
To check whether ...<br>
<br>
... two words are <b><em>equal</em></b>: type <b>localhost:4567/<em>equal/word1/word2</em></b><br>
<br>
Example: <a href='/equal/banana/banana'>localhost:4567/equal/banana/banana</a><br>
<br>
... a word is a <b><em>palindrome</em></b>: type <b>localhost:4567/<em>palindrome/word</em></b><br>
<br>
Example: <a href='/palindrome/abba'>localhost:4567/equal/palindrome/abba</a><br>
<br>
... a word is an <b><em>isogram</em></b>: type <b>localhost:4567/<em>isogram/word</em></b><br>
<br>
Example: <a href='/isogram/pineapple'>localhost:4567/isogram/pineapple</a><br>
<br>
... two words are <b><em>anagrams</em></b>: type <b>localhost:4567/<em>anagram/word1/word2</em></b><br>
<br>
Example: <a href='/anagram/listen/silent'>localhost:4567/anagram/listen/silent</a><br>
<br>
Note: typed in words will be converted into lowercase!<br>
</p>
